//--mixins.pug
//List of projects for home page
mixin project-list(project)
	
	//Inicialize all projects to 0 opacity for the animation
	li.truncate.o-0
		a.project--link.dark-gray.noload.theBlackToWhite.js-FocusElement.js-theBlackImage(class=project.title, href=project.url, data-cover= project.cover)= project.title

//List of projects for menu responsive
mixin project-list-ns(project)
	
	//Inicialize all projects to 0 opacity for the animation
	li.truncate.lh-title.f5.b--white-30.bb.pv1
		a.projects__link_ns.white.noload.theBlackToWhite.js-FocusElement.js-theBlackImage(class=project.title, href=project.url, data-cover= project.cover)= project.title


//Professionals bocks mixin for procedures page
mixin bios-blocks(professional)
	
	div.bio__block__item.mb4.js-theBlackImage.js-FocusElement(title=professional.name, data-cover= professional.image)
		p.bio__block__text-wrapper.dark-gray
			span.bio__block_name= professional.name + '. '
			span.bio__block_name= professional.bio


//Professionals list mixin for professionals page
mixin procedure-list(procedure)
	
	li.truncate
		a.procedure__item.white.js-FocusElement.jsScrollTo(href="#block" + procedure.id,class=procedure.name)!= procedure.name
 

//List of procedures for procedures page
mixin procedure-blocks(procedure)
	
	div
		div.procedure__block__item.mb4(id="#block" + procedure.id, title=procedure.name)
			p.procedure__block__text-wrapper.white
				span.procedure__block_name!= procedure.text
