//--mixins.pug
//List of projects for home page
mixin project-list(project)
	
	//Inicialize all projects to 0 opacity for the animation
	li.truncate.o-0
		a.project--link.dark-gray.noload.theBlackToWhite.js-FocusElement.js-theBlackImage(class=project.title, href=project.url, data-cover= project.cover)= project.title

//List of projects for menu responsive
mixin project-list-ns(project)
	
	//Inicialize all projects to 0 opacity for the animation
	li.projects__item_ns.truncate.lh-title.f5.b--white-10.bt.pv1.js-FocusElement
		a.projects__link_ns.white.noload.theBlackToWhite(class=project.title, href=project.url, data-cover= project.cover)= project.title


//Professionals bocks mixin for proffesionals page
mixin bios-blocks(professional)
	
	div.bio__block__item.js-theBlackImageAndFix.js-FocusElementAndFix(title=professional.name, data-cover= professional.image)
		p.bio__block__text-wrapper.mb4.dark-gray
			p
				span.bio__block_name= professional.name + '. '
				span.bio__block_name= professional.rol + '. '
			p.bio__block_name= professional.bio
			p.bio__block-image.db.dn-m.dn-l.dn-sl
				img(src= "content/" + professional.image)


//Professionals list mixin for procedure page
mixin procedure-list(procedure)
	
	li.truncate.bg-transparent
		a.procedure__item.white.js-FocusElement.js-ItemScrollToBlock.js-ScrollAndFocus(href="#block" + procedure.id,class="block" + procedure.id)!= procedure.name
 

//List of procedures for procedures page
mixin procedure-blocks(procedure)
	
	div.procedure__block__item(id="block" + procedure.id, title=procedure.name)
		p.procedure__block__text-wrapper.white.pb4.pb4-sl
			span.procedure__block_name.db.db-ns.db-m.dn-l.dn-sl!= procedure.name
			span.procedure__block_name!= procedure.text
			if procedure.graphic
				.procedure__block_graphic.center.pt1.pt2-sl.pb4.pb5-sl.w-100.w-80-m.w-70-l.w-70-sl!= procedure.graphic
			
